.homepage-video {
  position: absolute;
  top:40px;
  width: 100%;
  height: 525px;
  border-radius: 25px;
}

#videoBG {
  width: 100%    !important;
  height: 525px   !important;
  object-fit: cover;
  border-radius: 25px;
  margin-top: -40px;
  z-index: -10;
  position: absolute;
}

.banner{
  position: relative;
  width: 100%;
  height: 525px;
  border-radius: 25px;
  // background: url("assets/banner.jpg");
  background-position: right -310px bottom -10px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -40px;
}

.banner-content{
  color:$cream;
  width:60%;
  background: linear-gradient(90deg, $brown 60%, rgba(25, 18, 6, 0) 100%);
  height: 100%;
  border-radius: 25px 25px;
}
.banner-text{
  padding: 2em 0 0 2em;
  margin: 60px auto;
}
.banner-buttons{
  padding-left: 2em;
  display:flex;
  align-items: center;
  p {
    margin:0px 10px;
  }
  .btn.ca{
    border:3px $cream solid;
    border-radius:25px;
    color: $cream;
    padding: 5px 25px;

    i{
      font-size:12px;
    }
  }
}
// /* rani-george-nXOgb54BMB4-unsplash 1 */
// .banner-img{
// position: absolute;
// width: 100%;
// height: 625px;
// left: 465px;
// top: 87px;
// background-size:cover;
// z-index:-2;
// border-radius: 0px 25px 25px 0px;
// // background-image: url( "app/assets/images/rani-george-nXOgb54BMB4-unsplash.jpg");
// }

// /* Rectangle 3 */

// .banner-rectangle-overlay{
// position: absolute;
// width: 937px;
// height: 623px;
// left: 464px;
// top: 87px;
// background: linear-gradient(90deg, #191206 0%, rgba(25, 18, 6, 0) 100%);
// z-index:-1;
// }
