.homepage-video {
  position: absolute;
  top:40px;
  width: 100%;
  height: 525px;
  border-radius: 25px;
}

#videoBG {
  width: 100%    !important;
  height: 525px   !important;
  object-fit: cover;
  border-radius: 25px;
  margin-top: -40px;
  z-index: -10;
  position: absolute;
}

.banner{
  position: relative;
  width: 100%;
  height: 525px;
  border-radius: 25px;
  background-position: right -310px bottom -10px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -3em;
}

.banner-content{
  color:$cream;
  max-width:500px;
  background: linear-gradient(90deg, $brown 33%, rgba(25, 18, 6, 0) 100%);
  height: 100%;
  border-radius: 25px 25px;
  margin-top: 4em;
  padding: 4em 0 0 4em;
}
.banner-text{
  margin-bottom: 60px;
}
.banner-buttons{
  display:flex;
  align-items: center;
  p {
    margin:0px 10px;
  }
  .btn.ca{
    border:3px $cream solid;
    border-radius:25px;
    color: $cream;
    padding: 5px 25px;

    i{
      font-size:12px;
    }
  }
}
