// Import page-specific CSS files here.
@import "home";
@import "show-experiences";

body{
  background: $cream;
  font-size: 18px;
  line-height: 1.1;
  font-family: 'Poppins', sans-serif;
  color: $brown;
}

a {
  color: $brown;
  text-decoration: none;
  &:hover {
    color: $brown;
    font-weight: bold;
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

h1 {
  font-family: 'Righteous', cursive;
}

h2 {
  margin-bottom: 1em;
}

h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h3 {
  text-align: center;
  margin: 1em 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.turbolinks-progress-bar {
  background: $brown;
}

.small-text {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
