.exp-page {
  h1 {
    margin: 1em 0;
  }
}

.exp-content {
  width: 100%;
  margin: 1em 0;
}

.exp-image img {
  width: 100%;
  height: 525px;
  object-fit: cover;
  border-radius: 25px;
}

.content {
  display: flex;
}

.exp-info {
  margin-bottom: 2em;
}

.exp-details {
  padding: 1em;
  border: 3px solid $brown;
  border-radius: 25px;
  width: 315px;
}

.first-col {
  padding-right: 2em;
}

.exp-col {
  display: flex;
  flex-direction: column;
}
