<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Falafelqueen/local_food_experience" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/worstigaccount/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Worst-page-ever-120231954727973/" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="award-div">
    <%= image_tag "awards.png", class: "award-img" %>
    <%# <img src="assets/awards.png" class="award-img" > %>
  </div>
  <div class="footer-copyright">
    <p>Created by Maxime, Cyprien & Lucia</p>
  </div>
</div>
