<%# simple logic to print out a list of currently available experiences %>
<ul>
  <% @experiences.each do |experience| %>
    <li>
      <%= link_to experience.name, experience_path(experience) %>
    </li>
  <% end %>
</ul>
