.book-button {
  background-color: #D06313;
  padding: 1em 2em;
  border-radius: 50px;
  color: $cream;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
  &:hover {
    background-color: #e97a2a;
    color: $cream;
  }
}

.primary-button {
  background-color: $brown;
  border-radius: 50px;
  padding: 0.5em 2em;
  color: $cream;
  &:hover {
    color: $cream;
    background-color: $light-brown
  }
}
