.not-active {
  background-color: grey;
  opacity:0.5;
  z-index: 2;
  border-radius: 25px;
}

.booking-info{
  display:flex;
  justify-content: space-between;
  margin:8px 16px;
  align-items:center;
   p{
     font-size:16px;   }
}
