.footer {
  background: $cream;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 50px 50px 0 50px;
  margin: 100px 0;
  color: rgba(0,0,0,0.3);
  border-top: 3px solid $brown;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $brown;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;

}
.footer-links a:hover {
  opacity: 1;
  color: $brown;
}
.footer .fa-heart {
  color: #D23333;
}

.award-div {
  height: 100px;
  align-items: center;
}

.award-img {
  height: 100%;
}

.footer-copyright {
  padding-top: 50px;
}
