.login-container {
  max-width: 650px;
  margin: 3em auto;
  padding: 0 0 1em 0;
  border-bottom: 3px solid $brown;

  h2 {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 3px solid $brown;
  }
  a {
    display: inline-block;
    margin: 1em 0;
  }
}

.primary-button {
  background-color: $brown;
  border-radius: 50px;
  padding: 0.5em 2em;
  color: $cream;
  &:hover {
    color: $cream;
    background-color: $light-brown
  }
}

.section-bottom{
  border-top: 3px solid $brown;
  margin-top:15px;
  padding: 5px 0px;
}


.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 2em 0;
}

.form-control {
  border-radius: 10px;
}

.form-inputs {
  width: 50%;
}
