// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "form";
@import "footer";
@import "button";
@import "map";


.card-holder-map{
  display:grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 50px;
}
.card-holder{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}

.card{
  background-color: $brown;
  height:300px;
  border-radius:25px;
  color:$cream;
  h2{
    font-family:$headers-font;
    font-size:20px;
  }
  a{
    color:inherit;
    text-decoration: none;
  }
  border:none;
  box-shadow: 0px 0px 5px 1px rgba(95, 79, 66, 0.5);
  transition: 0.5s;
}

.card:hover{
  transform: scale(1.01);
  cursor:pointer;
   a{
    color:inherit;
    text-decoration: none;
    font-weight:bolder;
  }
}

.card-image{
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  width:100%;
  height:70%;
  border-radius: 25px 25px 0px 0px;
}

.card-info{
  display:flex;
  margin:8px 16px;
  justify-content: space-between;
  align-items: center;
  height:25%;
}
