@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&family=Permanent+Marker&family=Poppins&display=swap');


.navbar-lewagon {
  justify-content: space-between;
  background: #FAF4EF;
  a {
    text-decoration: none;
    color:inherit;
  }
  a:hover{
    text-decoration: none;
    font-weight: bold;
  }
  justify-content: space-between;
}

.nav-otherside, .nav-left{
  display:flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
  margin-right:45px;
}

.nav-block{
  font-family: 'Poppins', sans-serif;
  font-size:18px;
  line-height: 33px;
  border-right: 3px solid black;
  padding: 15px 0px;
  p,img{
    margin: 0px 45px 0px ;
  }
}

.nav-block.block-1, .nav-block.block-4{
  border-left: 3px solid black ;
}
.nav-block.block-4{
  margin:0px 30px;
}
.nav-block.block-5 {
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 0px 5px;
  border-right: none;
  p{
    margin:0px 20px 0px 0px;
  }
  img{
    margin:0px 5px;
  }
}
